.container{
	min-height:100vh; 
	background-color: #fff;
    position: relative;
}

.back-icon {
	--sds-c-icon-color-foreground-default: #da3738;
}

.titleComponent{
	font-size: 24px;
	color: #333;
}

.grayTitle{
	font-size: 1.5vh;
    color: #868686;
}

.changeInfo{
    font-size: 1.5vh;
    color: #868686;
}
.changeInfo:hover{
    text-decoration: underline;
    cursor: pointer;
}

.totalPrice{
	font-size: 5vh;
	font-weight: bold;
}

.add-icon {
    --sds-c-icon-color-foreground-default: #da3738;
    cursor: pointer;
}

.productListBox{
	max-height: 100%;
    border: 0;
    box-shadow: 0px 0px;
}

.searchItemContainer{
    /* border: 0; */
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    /* border-top-right-radius: 0.5rem; */
    /* border-bottom-right-radius: 0.5rem; */
}

.titleAndServices-container{
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.titleAndServices{
    display: grid;
    grid-template-columns: 4fr 2fr; 
    align-items: center;
    width: 100%;
}

.subTitle{
	color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextLabel, rgb(68, 68, 68)));
    font-size: 1rem;
}

.subTitle-center{
    text-align: center;
}

.input-no-border {
    --lwc-shadowButtonFocus: 0;
    --lwc-borderWidthThin: 0;
    --slds-c-input-shadow-focus: 0;
    --sds-c-input-shadow-focus: 0;
}

.footer-container{
    font-size: 1.8vh;
}

.buttons{
	--slds-c-button-radius-border: 2vh;
	margin: 0 auto;
}

.registrar-button{
    --sds-c-button-brand-color-border: #da3738;
    --sds-c-button-brand-color-background: #fff;
    --sds-c-button-brand-text-color: #da3738;
}

.registrar-button:hover{
	--sds-c-button-brand-color-background: #da3738;
}

.registrar-button:active{
	--sds-c-button-brand-color-background: #da3738;
}

.rechazar-button{
    --sds-c-button-brand-color-border: #da3738;
    --sds-c-button-brand-color-background: #fff;
    --sds-c-button-brand-text-color: #da3738;
}

.rechazar-button:hover{
    --sds-c-button-brand-color-background: #da3738;
}

.rechazar-button:active{
    --sds-c-button-brand-color-background: #da3738;
}

.firma-button{
    --sds-c-button-brand-color-border: #da3738;
    --sds-c-button-brand-color-background: #da3738;
    --sds-c-button-brand-text-color: #fff;
}

.float-container-confirm{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    z-index: 9999;
    top: 0;
 }
 
 .float-container-confirm-details{
    position: relative; 
    width: 97%; 
    margin: 0 auto; 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); 
    background-color: #fff; 
    top: 10%;
    border-radius: 0.5rem;
 }

 .backScreen-button{
    --sds-c-button-brand-color-border: #da3738;
    --sds-c-button-brand-color-background: #fff;
    --sds-c-button-brand-text-color: #da3738;
 }
 
 .backScreen-button:hover{
    --sds-c-button-brand-color-background: #da3738;
 }
 
 .terminate-button{
    --sds-c-button-brand-color-border: #da3738;
    --sds-c-button-brand-color-background: #da3738;
    --sds-c-button-brand-text-color: #fff;
 }

 .divider {
    height: 1px; 
    background-color: #ccc;
    width: 100%;
}

.box-container{
    border: 1px solid #ccc;
}

.total-subContainer {
    display: grid;
    grid-template-columns: 4fr 2fr;
    align-items: center;
}

.total-value{
    text-align: end;
    font-size: 1.5rem;
}

.total-iva{
    text-align: end;
}

.terms-subContainer {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
}

.terms-label{
    text-align: start;
}