.container{
	min-height:100vh; 
	background-color: #fff;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}



.back-icon {
	--sds-c-icon-color-foreground-default: #da3738;
}

.titleComponent{
	font-size: 24px;
	color: #333;
}

.grayTitle{
	font-size: 1.5vh;
    color: #868686;
}

.productListBoxListBox{
	max-height: 8.1rem;
}

.searchNumber{
	color: #bbbbbb;
}

.add-icon {
    --sds-c-icon-color-foreground-default: #da3738;
    cursor: pointer;
}

.shoppingCartContainer{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.185);

    position: fixed;
    bottom: 0; /* Initially hide most of the overlay */
    left: 0;
    width: 100%;
    height: 20vh; /* Height of the visible part */
    background-color: #fff;
    color: white;
    transition: bottom 0.3s ease-in-out;
    cursor: pointer;
    
}

.shoppingCartContainer.active {
    bottom: 0; /* Move overlay fully into view */
    height: 100vh; /* Full overlay height when active */
    position: absolute;
    border-radius: 0rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.toggleshoppingCart{
    background-color: #da3738;
    width: 4rem;
    height: 0.3rem;
    border-radius: 2rem;
    margin: 0 auto;
    transition: transform 0.3s ease;
    display: block;
}

.float-container {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

body.modal-open {
    overflow: hidden;
}

.button-align-rigth {
    position: sticky;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 15px 20px 10px 0;
    z-index: 1002;
}

.float-container-details > :not(.button-align-rigth) {
    padding-left: 20px;
    padding-right: 20px;
}

.float-container-details {
    position: relative;
    width: 90%;
    max-width: 600px;
    height: auto;
    max-height: 90vh;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 8px;
    z-index: 1001;
    display: flex;
    flex-direction: column;
}

.button-container {
    margin-top: auto;
    padding-bottom: 15px;
    width: 100%;
}

.totalSelectedPiece{
    top: -0.5rem;
    width: 3.5rem;
    --lwc-borderWidthThin: 0;
}

@media screen and (max-width: 480px) {
    .float-container-details {
        padding: 15px 10px;
        width: 95%;
    }

    /* .totalSelectedPiece{
        top: -0.5rem;
        border: 0;
    } */
    
    .button-actionContinue {
        width: 100%;
    }
}

.button-align-rigth {
    position: sticky;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 15px 20px 10px 0;
    z-index: 1002;
}

.icon-center{
    display: flex;
    justify-content: center;
}

.counter-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 0 10px;
    padding: 5px 10px;
    font-size: 16px;
}

.number {
    font-size: 18px;
    font-weight: bold;
}

.dash {
    width: 1px;
    height: 24px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0 5px;
}

.button-actionCancel{
    font-size: 0.8rem;
    color: #da3738;
    border: 1px solid #da3738;
    border-radius: 1rem;
    background-color: #fff;
}

.button-actionCancel:hover{
    color: #fff;
    background-color: #da3738;
}

.button-actionContinue{
    font-size: 0.8rem;
    color: #fff;
    border-radius: 2rem;
    border: 1px solid #da3738;
    background-color: #da3738;
    padding: 1.5% 5%;
}

.button-actionContinue:hover{
    font-size: 0.8rem;
    color: #fff;
    border-radius: 2rem;
    border: 1px solid #9c1919;
    background-color: #9c1919;
    padding: 1.5% 5%;
}